@include media-breakpoint-down(lg) {
  // .container {
  //   padding-right: auto;
  //   padding-left: ;
  //   margin-right: var(--bs-gutter-x, 0.75rem);
  //   margin-left: var(--bs-gutter-x, 0.75rem);
  // }
  .navbar-right {
    .navbar-collapse {
      position: fixed;
      top: 66px;
      bottom: 0;
      left: 100%;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      width: 20%;
      transition: all 0.4s ease;
      display: block;
      background-color: $light;
    }
    .navbar-collapse.collapsing {
      height: auto !important;
      // margin-left: 50%;
      left: 80%;
      transition: all 0.2s ease;
    }
    .navbar-collapse.show {
      left: auto;
      right: 0;
    }
  }
}
